USE [master]
GO
/****** Object:  Database [EquestrianCompetitions]    Script Date: 26.11.2022 23:10:46 ******/
CREATE DATABASE [EquestrianCompetitions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EquestrianCompetitions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EquestrianCompetitions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EquestrianCompetitions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EquestrianCompetitions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EquestrianCompetitions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EquestrianCompetitions]
GO
/****** Object:  User [test10]    Script Date: 26.11.2022 23:10:47 ******/
CREATE USER [test10] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[CountHorsePerformance]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[CountHorsePerformance](@horse int)
returns int
as
begin
return (select count(id) from Members
where horse = @horse)
end
GO
/****** Object:  Table [dbo].[RaceMembers]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceMembers](
	[race] [int] NOT NULL,
	[member] [int] NOT NULL,
	[score] [time](7) NOT NULL,
	[running_track] [int] NOT NULL,
	[uniform_color] [varchar](20) NOT NULL,
	[disqualification] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RaceView]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[RaceView] as 
select race, count(race) as amount from RaceMembers
group by race
GO
/****** Object:  Table [dbo].[Jockeys]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jockeys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fio] [varchar](100) NOT NULL,
	[birthday] [date] NOT NULL,
	[rank] [varchar](25) NOT NULL,
	[weight] [decimal](5, 2) NOT NULL,
	[login] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserView]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[UserView] as
select Users.[login], [password], [role], id, fio, birthday, [rank], [weight] from Users
join Jockeys on Jockeys.[login] = Users.[login]
GO
/****** Object:  Table [dbo].[Competitions]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[prize] [money] NOT NULL,
	[judge] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horses]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](25) NOT NULL,
	[age] [int] NOT NULL,
	[breed] [int] NOT NULL,
	[coach] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jockey] [int] NOT NULL,
	[horse] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[distance] [int] NOT NULL,
	[competition] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MemberInfoView]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[MemberInfoView] as 
select fio, [rank], [weight], [name], CAST([date] AS DATE) as [date], concat(distance,'м') as distance from Jockeys
join Members on Members.jockey = Jockeys.id
join Horses on Horses.id = Members.horse
join RaceMembers on RaceMembers.member = Members.id
join Races on Races.id = RaceMembers.race
join Competitions on Competitions.id = Races.competition
GO
/****** Object:  View [dbo].[JockeyInfoView]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[JockeyInfoView] as 
select fio,birthday,[rank],[weight] from Jockeys
GO
/****** Object:  Table [dbo].[Breeds]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breeds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fio] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HorseInfoView]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[HorseInfoView] as
select Horses.id,Horses.[name] as horse, age, Breeds.[name] as breed, dbo.CountHorsePerformance(Horses.id) as performanceCount, fio as coach from Horses
join Breeds on Breeds.id = Horses.breed
join Coaches on Coaches.id = Horses.coach
GO
/****** Object:  Table [dbo].[Judges]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Judges](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fio] [varchar](100) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[login] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CompetitionInfoView]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[CompetitionInfoView] as 
select Competitions.id,[date], fio, prize from Competitions
join Judges on Judges.id = Competitions.judge
GO
/****** Object:  Table [dbo].[Disqualifications]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disqualifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [bit] NOT NULL,
	[reason] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RaceScoreInfoView]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[RaceScoreInfoView] as 
select competition,race,[date], member,concat(distance,'м') as distance, score, running_track, uniform_color, [status] from RaceMembers
join Races on Races.id = RaceMembers.race
join Competitions on Competitions.id = Races.competition
join Disqualifications on Disqualifications.id = RaceMembers.disqualification
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Breeds] ON 

INSERT [dbo].[Breeds] ([id], [name]) VALUES (1, N'Буденновская')
INSERT [dbo].[Breeds] ([id], [name]) VALUES (2, N'Якутская')
INSERT [dbo].[Breeds] ([id], [name]) VALUES (3, N'Донская')
SET IDENTITY_INSERT [dbo].[Breeds] OFF
GO
SET IDENTITY_INSERT [dbo].[Coaches] ON 

INSERT [dbo].[Coaches] ([id], [fio]) VALUES (1, N'Рыбаков Ф.В.')
INSERT [dbo].[Coaches] ([id], [fio]) VALUES (2, N'Муравьев С.Ф.')
INSERT [dbo].[Coaches] ([id], [fio]) VALUES (3, N'Иванов Н.С.')
SET IDENTITY_INSERT [dbo].[Coaches] OFF
GO
SET IDENTITY_INSERT [dbo].[Competitions] ON 

INSERT [dbo].[Competitions] ([id], [date], [prize], [judge]) VALUES (1, CAST(N'2022-10-11T00:00:00.000' AS DateTime), 80500.0000, 2)
INSERT [dbo].[Competitions] ([id], [date], [prize], [judge]) VALUES (2, CAST(N'2022-10-12T00:00:00.000' AS DateTime), 62500.0000, 1)
INSERT [dbo].[Competitions] ([id], [date], [prize], [judge]) VALUES (3, CAST(N'2023-10-01T00:00:00.000' AS DateTime), 76500.0000, 3)
SET IDENTITY_INSERT [dbo].[Competitions] OFF
GO
SET IDENTITY_INSERT [dbo].[Disqualifications] ON 

INSERT [dbo].[Disqualifications] ([id], [status], [reason]) VALUES (1, 0, NULL)
INSERT [dbo].[Disqualifications] ([id], [status], [reason]) VALUES (2, 0, NULL)
INSERT [dbo].[Disqualifications] ([id], [status], [reason]) VALUES (3, 1, NULL)
SET IDENTITY_INSERT [dbo].[Disqualifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Horses] ON 

INSERT [dbo].[Horses] ([id], [name], [age], [breed], [coach]) VALUES (1, N'Искорка', 6, 3, 1)
INSERT [dbo].[Horses] ([id], [name], [age], [breed], [coach]) VALUES (2, N'Бегун', 4, 5, 2)
INSERT [dbo].[Horses] ([id], [name], [age], [breed], [coach]) VALUES (3, N'Флеш', 5, 1, 3)
SET IDENTITY_INSERT [dbo].[Horses] OFF
GO
SET IDENTITY_INSERT [dbo].[Jockeys] ON 

INSERT [dbo].[Jockeys] ([id], [fio], [birthday], [rank], [weight], [login]) VALUES (1, N'Михайлов Н.А.', CAST(N'1999-04-28' AS Date), N'2 уровень', CAST(65.20 AS Decimal(5, 2)), N'jockey1')
INSERT [dbo].[Jockeys] ([id], [fio], [birthday], [rank], [weight], [login]) VALUES (2, N'Ефимов Н.Р.', CAST(N'1996-12-02' AS Date), N'2 уровень', CAST(62.80 AS Decimal(5, 2)), N'jockey2')
INSERT [dbo].[Jockeys] ([id], [fio], [birthday], [rank], [weight], [login]) VALUES (3, N'Мишин К.Л.', CAST(N'1993-05-25' AS Date), N'2 уровень', CAST(83.10 AS Decimal(5, 2)), N'jockey3')
SET IDENTITY_INSERT [dbo].[Jockeys] OFF
GO
SET IDENTITY_INSERT [dbo].[Judges] ON 

INSERT [dbo].[Judges] ([id], [fio], [category], [city], [login]) VALUES (1, N'Антропов А.В.', N'1 категория', N'Москва', N'judge1')
INSERT [dbo].[Judges] ([id], [fio], [category], [city], [login]) VALUES (2, N'Щербаков А.С.', N'3 категория', N'Пермь', N'judge2')
INSERT [dbo].[Judges] ([id], [fio], [category], [city], [login]) VALUES (3, N'Петров П.П.', N'2 категория', N'Сочи', N'judge3')
SET IDENTITY_INSERT [dbo].[Judges] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([id], [jockey], [horse]) VALUES (1, 2, 2)
INSERT [dbo].[Members] ([id], [jockey], [horse]) VALUES (2, 1, 3)
INSERT [dbo].[Members] ([id], [jockey], [horse]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
INSERT [dbo].[RaceMembers] ([race], [member], [score], [running_track], [uniform_color], [disqualification]) VALUES (9, 1, CAST(N'00:08:20' AS Time), 5, N'purus', 1)
INSERT [dbo].[RaceMembers] ([race], [member], [score], [running_track], [uniform_color], [disqualification]) VALUES (1, 2, CAST(N'00:06:05' AS Time), 5, N'tellus', 2)
INSERT [dbo].[RaceMembers] ([race], [member], [score], [running_track], [uniform_color], [disqualification]) VALUES (4, 3, CAST(N'00:09:06' AS Time), 4, N'eget', 3)
GO
SET IDENTITY_INSERT [dbo].[Races] ON 

INSERT [dbo].[Races] ([id], [distance], [competition]) VALUES (1, 400, 1)
INSERT [dbo].[Races] ([id], [distance], [competition]) VALUES (2, 800, 1)
INSERT [dbo].[Races] ([id], [distance], [competition]) VALUES (3, 1000, 1)
SET IDENTITY_INSERT [dbo].[Races] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name]) VALUES (1, N'Жокей')
INSERT [dbo].[Roles] ([id], [name]) VALUES (2, N'Судья')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Users] ([login], [password], [role]) VALUES (N'jockey1', N'jockey1', 1)
INSERT [dbo].[Users] ([login], [password], [role]) VALUES (N'judge1', N'judge1', 2)
INSERT [dbo].[Users] ([login], [password], [role]) VALUES (N'jockey2', N'jockey2', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Jockeys__7838F27260D9957D]    Script Date: 26.11.2022 23:10:47 ******/
ALTER TABLE [dbo].[Jockeys] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Judges__7838F272E1FF6110]    Script Date: 26.11.2022 23:10:47 ******/
ALTER TABLE [dbo].[Judges] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__7838F272E015155F]    Script Date: 26.11.2022 23:10:47 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Competitions]  WITH CHECK ADD FOREIGN KEY([judge])
REFERENCES [dbo].[Judges] ([id])
GO
ALTER TABLE [dbo].[Horses]  WITH CHECK ADD FOREIGN KEY([breed])
REFERENCES [dbo].[Breeds] ([id])
GO
ALTER TABLE [dbo].[Horses]  WITH CHECK ADD FOREIGN KEY([coach])
REFERENCES [dbo].[Coaches] ([id])
GO
ALTER TABLE [dbo].[Jockeys]  WITH CHECK ADD FOREIGN KEY([login])
REFERENCES [dbo].[Users] ([login])
GO
ALTER TABLE [dbo].[Judges]  WITH CHECK ADD FOREIGN KEY([login])
REFERENCES [dbo].[Users] ([login])
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD FOREIGN KEY([horse])
REFERENCES [dbo].[Horses] ([id])
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD FOREIGN KEY([jockey])
REFERENCES [dbo].[Jockeys] ([id])
GO
ALTER TABLE [dbo].[RaceMembers]  WITH CHECK ADD FOREIGN KEY([disqualification])
REFERENCES [dbo].[Disqualifications] ([id])
GO
ALTER TABLE [dbo].[RaceMembers]  WITH CHECK ADD FOREIGN KEY([member])
REFERENCES [dbo].[Members] ([id])
GO
ALTER TABLE [dbo].[RaceMembers]  WITH CHECK ADD FOREIGN KEY([race])
REFERENCES [dbo].[Races] ([id])
GO
ALTER TABLE [dbo].[Races]  WITH CHECK ADD FOREIGN KEY([competition])
REFERENCES [dbo].[Competitions] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role])
REFERENCES [dbo].[Roles] ([id])
GO
/****** Object:  StoredProcedure [dbo].[Authorizate]    Script Date: 26.11.2022 23:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Authorizate] @login varchar(50), @password varchar(50)
as
select [login], [password], [role] from Users
where [login]=@login and [password]=@password
GO
USE [master]
GO
